<!DOCTYPE html>
<html>
  <head>
    <title>#title#</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <div id="app">
      <h1>404</h1>
      <h1>#title#</h1>
      <div>#content#</div>

      <% if (lorem.length > 0) { %>
        <h1> Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
          <% } %>


      <nav>
        <a href="/">Homepage</a>
        <a href="/about">About Page</a>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/about">About</a></li>
        </ul>
      </nav>
    </div>
  </body>
</html>